.playPage {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    /* Background subject to change */
    background-image: radial-gradient(white, #403e3b);
}

.button {
    background-color: blue;
    width: 150px;
    height: 100px;
}

.gameOverPage {
    background-color: red;
    width: 100vw;
    height: 100vh;
}