.gameOverPage {
    background: linear-gradient(to bottom, #ff4c4c, #cd0101, #cd0101, #000000);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

