.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #001f3f, #000000);
    color: white;
}

.start {
    color: black;
    background-color: white;
}